@import url('https://fonts.googleapis.com/css?family=Sacramento');

html, body, #app {
    overflow: hidden
}
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#app .title {
    font-family: 'Sacramento', cursive !important;
}
.with-fixed-padding {
    padding: 0rem .5rem;
}
.control-label {
    display: none;
}
.with-mobile-center {
    display: flex;
    justify-content: center;
}
.with-mobile-center .level-item {
    padding: 0 .2rem;
}
.rha .dropdown-content {
    background-color: transparent;
    padding: 0;
}
.rha a.dropdown-item {
    background-color: transparent;
    padding: 0 !important;
    padding-bottom: 10px !important;
}
.rha a.dropdown-item:hover {
    background-color: transparent;
}
.rha {
    position: fixed;
    bottom: 10px;
    right: 10px;
}