@import url('https://fonts.googleapis.com/css?family=Sacramento');

html, body, #app {
    overflow: hidden
}
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#app .title {
    font-family: 'Sacramento', cursive !important;
}
.level-item {
    padding: 0rem .5rem;
}