@import url('https://fonts.googleapis.com/css?family=Sacramento');

html, body, #app {
    overflow: hidden
}
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#app .title {
    font-family: 'Sacramento', cursive !important;
}
.with-fixed-padding {
    padding: 0rem .5rem;
}
.control-label {
    display: none;
}
.with-mobile-center {
    display: flex;
    justify-content: center;
}
.with-mobile-center .level-item {
    padding: 0 .2rem;
}